<h1>投稿一覧</h1>
<% if user_signed_in? %>
  <% @posts.each do |post|%>
    <p><%= post.title %> <%= "投稿者: #{post.user.name}" if post.user.name.present? %> </p>
    <p><%= image_tag post.image.thumb.url if post.image?%> </p>
    <%= link_to "詳細", post %> 
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
